{% extends 'base.html' %}

{% block content %}           
    <form method="POST" novalidate>

        {{ form.csrf_token() }}

        {{ form.username.label(class_="label-form") }}
        {{ form.username(class_="input-form") }}

        {% for error in form.username.errors  %}
            <li style="color: red; list-style: none;">{{ error}}</li>
        {% endfor %}
        
        {{ form.password.label(class_="label-form") }}
        {{ form.password(class_="input-form") }}
        
        {% for error in form.password.errors  %}
            <li style="color: red; list-style: none;">{{ error}}</li>
        {% endfor %}
        
        {{ form.submit }}


        <!-- <label for="username">Usuario</label>
        <input type="text" name="username" id="username" class="label-form">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="label-form">
        <input type="submit" value="Enviar" class="input-form"> -->
    </form>
{% endblock content %}